/* Background picture */
body {
    background-image: url("../images/Polarlight_green.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  /* Headline */
  h1 {
    margin-left: 10pt;
    margin-top: 10pt;
  }