/* Background picture */
body {
  background-color: #404040;
  /* background-image: url("../images/Polarlight_green.jpg"); */
  margin-left: 5pt;
  margin-top: 10pt;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Headline */
header {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  display: block;
  font-weight: bold;
}
