/* Background picture */
body {
  background-image: url("../images/Polarlight_green.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Headline */
h1 {
  margin-left: 10pt;
  margin-top: 10pt;
}

table {
  margin-top: 10pt;
  margin-left: 10pt;
}

.button-container {
  display: flex;
  justify-content: space-around;
  width: 20%;
}
